body {
    background-color: black;
    background-image: url('images/geometrico.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.textBox {
    resize: none;
    font-size: 16px;
}

.button {
    font-size: 13px;
    padding: 10px 24px;
    border-radius: 3px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

#buttonStartAgain {
    background-color: #FF9045;
    color: white;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
}


.hidden {
    display: none;
}

.showNumber {
    border: 0;
    text-align: center;
    font-size: 20px;
}

.offset {
    width: 80%;
    height: 8px;
    opacity: 0.7;
}

#welcome {
    background-color: black;
    text-align: center;
    color: #736B6D;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;   
    padding: 55px;
    margin: 45px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    float: left;
}

h1 {
    font-size: 32px;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    color: white;
}

h2 {
    color: #FF9045;
    font-size: 15px;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
}

h3 {
    color: #00437A;
    font-size: 15px;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
}

.divEncodeDecode {
    height: 100%;
    width: 650px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    position: relative;
    float: left;
    margin: 15px;
    }

